.nav_part {
    background: #09A2F9;
    backdrop-filter: blur(2px);
}

.nav_link {
    list-style: none;
    display: flex;
}

.nav_link li {
    margin-right: 20px;
    
}

.link {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: #FFFFFF;
}
.btn_anora{
    background: #FFE400;
border-radius: 4px;
width: 200px;
height: 50px;
text-decoration: none !important;
}
.btn_anora .btn_link{
    text-decoration: none;
    color: white;
}
.link:focus{
   border-bottom: 1.5px solid blue;
}