*{
    padding: 0;
    margin: 0;
}
.main_bg{
    background-image: url('./imag/bgimg1.png');
    background-position: center;
    background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 95vh;
}
.main_bg2{
    background-image: url('./imag/bgimgmain.jpg');
    background-position: center;
    background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 95vh;
}
.parda{
    background-color: rgba(0, 0, 0, 0.247);
}
.cardd{
    padding: 50px 100px;
}